<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthControlador</servlet-name>
        <servlet-class>controlador.AuthControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarioControlador</servlet-name>
        <servlet-class>controlador.ComentarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilControlador</servlet-name>
        <servlet-class>controlador.PerfilControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbicacionControlador</servlet-name>
        <servlet-class>controlador.UbicacionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioControlador</servlet-name>
        <servlet-class>controlador.ServicioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeControlador</servlet-name>
        <servlet-class>controlador.SedeControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HabitacionControlador</servlet-name>
        <servlet-class>controlador.HabitacionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaControlador</servlet-name>
        <servlet-class>controlador.ReservaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoControlador</servlet-name>
        <servlet-class>controlador.CorreoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroReclamacionControlador</servlet-name>
        <servlet-class>controlador.LibroReclamacionControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthControlador</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarioControlador</servlet-name>
        <url-pattern>/comentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilControlador</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbicacionControlador</servlet-name>
        <url-pattern>/UbicacionControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioControlador</servlet-name>
        <url-pattern>/ServicioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeControlador</servlet-name>
        <url-pattern>/SedeControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HabitacionControlador</servlet-name>
        <url-pattern>/HabitacionControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaControlador</servlet-name>
        <url-pattern>/ReservaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoControlador</servlet-name>
        <url-pattern>/CorreoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroReclamacionControlador</servlet-name>
        <url-pattern>/LibroReclamacionControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
